@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: 15px;
}
p{
    margin-bottom: 15px;
}
ul{
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.container{
    width: 1170px;
    margin: auto;
}
.row {
    margin: 0 -15px;
}

.col-2{
    width: 16.66%;
    float: left;
    padding: 0 15px;
}
.col-3{
    width: 25%;
    float: left;
    padding: 0 15px;
}
.col-4{
    width: 33.33%;
    float: left;
    padding: 0 15px;
}
.col-6{
    width: 50%;
    float: left;
    padding: 0 15px;
}
.fix{
    overflow: hidden;
}


/*  Mobile Menu  */
.wrapper button {
	position: absolute;
	border: none;
	background: none;
	top: 72PX;
	right: 18px;
}

.wrapper button img{
    width:23px;
}

.mobile-nav {
	position: fixed;
	background: #ffaf75;
	width: 100%;
    height: 100%;
    transform: translateX(-100%);
    z-index: 2;
}


.mobile-wrapper {
    position: fixed;
    width: 50%;
    height: 50%;
    top: 74px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .mobile-wrapper img {
	width: 200px;
	margin-left: -26px;
	margin-bottom: 30px;
}
  .mobile-wrapper a {
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 26px 0px;
  }

  .open {
	transform: translateX(0%);
	transition: .5s;
}
  .fade {
	transform: translateX(-100%);
	transition: .5s;
}

.nav-menu ul{
    padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}
.nav-menu ul li{
    position: relative;
	float: left;
	width: 100%
}
.nav-menu ul li a{
    display: block;
	float: left;
	width: 90%;
	padding: .7em 5%;
	margin: 0;
	text-align: center;
	color: #282828;
	text-decoration: none;
	text-transform: uppercase;
    transition: .3s;
}
.nav-menu ul li a:hover{
    color: #fff;
    border-bottom: 1px solid #383838;
}

/* header */

.header-area{
    padding-top: 50px;
    position: absolute;
    top: 0;
    width: 100%;

}
.logo{
    margin-top: 12px;
    z-index: 1;
}
.menu{

}
.menu ul{

}
.menu ul li{
    float: left;
    margin-right: 12px;
    position: relative;
}
.menu ul li a{
    color: #fff;
    display: block;
    font-weight: 700;
    font-size: 14px;
    padding: 25px 0;
    text-decoration: none;
    text-transform: uppercase;

}
.menu ul li a:hover{
    color: #f39f31;
}

.menu ul li ul.submenu{
    position: absolute;
    background: #fff;
    left: 0;
    top: 120%;
    width: 200px;
    opacity: 0;
    visibility: hidden;
}
.menu ul li:hover ul.submenu{
    visibility: visible;
    opacity: 1;
    top: 100%;
    transition: .5s;
}
.menu ul li ul.submenu li{
    float: none;
    margin: 0;
}
.menu ul li ul.submenu li a{
    color: #666;
    padding: 10px 15px;
}
.hamberger{
    display:none;
}

.header-button > a{
    padding: 20px 50px;
    color: #444;
    background: #fff;
    font-weight: 700;
    border-radius: 35px;
    text-decoration: none;
    display: inline-block;
    transition: .5s;
}
.header-button > a:hover{
    background: linear-gradient(to left, #f39f31, #de4627);
    color: #fff;
}
.header-button{
    float: right;
}
.language{
    float: right;
    margin-right: 30px;
    margin-top: 23px;
}
.language ul li a{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
.single-slider{
    min-height: 810px;
    text-align: center;
}
.slider-inner{
    padding-top: 267px;
}
.slider-inner h1{
    color: #fff;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 25px;
}
.slider-inner > a{
    background: linear-gradient(to left, #f39f31, #de4627);
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 20px 35px;
    border-radius: 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}
.slider-inner > a:hover{
    background: #fff;
    color: #000;
}
.service-area{
    margin-top: -130px;
    overflow: hidden;
    padding-bottom: 100px;
    
}

.single-service{
    background: #fff;
    padding: 40px;
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.2);
    transition: .3s;
    margin-bottom: 40px;
}
.single-service h2{
    color: #282828;
    font-size: 30px;
    font-weight: 700;
}
.single-service p{
    color: #7d7d7d;
    font-size: 14px;
    line-height: 24px;
}
.single-service a{
    color: #444;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
}
.single-service a.btn{
    background: #f3a032;
    color: #fff;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
}
.single-service:hover{
    background: #f3a032;
    
}

.single-service:hover h2{
    color: #fff;
}
.single-service:hover p{
    color: #fff;
}
.single-service:hover a{
    color: #fff;
}
.single-service:hover a.btn{
    background: #fff;
    color: #282828;
}
.why-chose-area{
    padding-bottom: 100px;
}
.chose-wrapper img{
    margin-bottom: 40px;
}
.chose-wrapper p{
    font-size: 17px;
    color: #767676;
    line-height: 36px;
    margin: 0;
}
.section-title{
    text-align: center;
    margin-bottom: 80px;
}
.section-title h1{
    font-size: 48px;
    color: #282828;
}
.section-title p{
    font-size: 18px;
    color: #767676;
}
.how-we-wrok{
    padding: 100px 0;
    background: #f6f6f6;
}
.single-work h2{
    height: 170px;
    width: 100%;
    background: #fff;
    text-align: center;
    line-height: 163px;
    transition: .3s;
}
.single-work{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}
.single-work:hover h2{
    background: #f3a032;
    color: #fff;
}
.advertisers-area{
    padding: 100px 0;
}
.advertisers-text{
    padding-top: 270px;
}
.advertisers-text h2{
    color: #282828;
    font-size: 48px;
}
.advertisers-text p{
    color: #767676;
    font-size: 18px;
    line-height: 36px;
}
.advertisers-text a{
    color: #f3a032;
    font-weight: 700;
    text-transform: uppercase;
}
.download-btn{
    margin-top: 40px;
}
.download-btn a{
    display: inline-block;
    margin-right: 20px;
}
.phone{
    text-align: right;
}

.advertiser-active .owl-nav button{
    left: 0;
    position: absolute;
    top: 50%;
    opacity: 0;
}
.advertiser-active .owl-nav button.owl-prev{
    left: -25px;
}
.advertiser-active .owl-nav button.owl-next{
    right: 0;
    left: auto;
}
.advertiser-active:hover .owl-nav button{
    opacity: 1;
}

.agencies-area{
    padding: 150px 0;
    background: #f6f6f6;
}
.agencies-list ul li {
	color: #767676;
	font-size: 18px;
	list-style: 36px;
	margin-bottom: 35px;
	margin-top: -25px;
	margin-left: 50px;
}

.agencies-list ul .icon{
    color: #f39f31;
    margin-right: 22px;
    font-size: 28px;
}

.text-left{
    text-align: left;
}
.text-white h1{
    color: #fff;
}
.video-area{
    padding: 100px 0;
}
.publish{
    margin-top: 60px;
    text-align: center;
}


.fact-area{
    padding: 130px 0;
}
.single-fact{
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid transparent;
}
.single-fact:hover{
    border-bottom: 2px solid #f3a032;
}
.single-fact h4{
    font-size: 18px;
    color: #282828;
    line-height: 30px;
    margin-top: 30px;
}

.map-area{
    position: relative;
}
.contact-info{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    padding: 100px;
    top: 50%;
    text-align: center;
    width: 950px;
    transform: translateY(-50%);

}




.copyright{
    text-align: center;
    padding: 60px 0;
}
.copyright p{
    color: #767676;
    font-size: 18px;
    line-height: 30px;
}
.copyright a{
    color: #767676;
    font-size: 25px;
    margin-right: 20px;
}

.social a:hover{
    color: #f3a032;
}

